#logo{
    width: 23px;
    height: 23px;
    position: absolute;
    left: 1020px;
    top: 70px;
}
.Search{
    width: 400px;
    height: 25px;
    position: absolute;
    left: 660px;
}
h2{
    text-align: center;
    top: 05px;
    color: blue;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3 100px);
    grid-template-rows: 200px 200px;
    /* grid-row-gap: 120px; */
    /* grid-column-gap: 120px; */
    justify-content: space-evenly;
    align-items: center;
    padding: 10%;
}
#img1{
    position: absolute;
    width: 19%;
    height: 25%;
    left: 250px;
    top: 170px;
    border-radius: 7px;
}
#img2{
    position: absolute;
    width: 19%;
    height: 25%;
    left: 700px;
    top: 170px;
    border-radius: 7px;
}
#img3{
    position: absolute;
    width: 19%;
    height: 25%;
    left: 1200px;
    top: 170px;
    border-radius: 7px;
}
#img4{
    position: absolute;
    width: 19%;
    height: 25%;
    left: 250px;
    top: 520px;
    border-radius: 7px;
}
#img5{
    position: absolute;
    width: 19%;
    height: 25%;
    left: 700px;
    top: 520px;
    border-radius: 7px;
}
#img6{
    position: absolute;
    width: 19%;
    height: 25%;
    left: 1200px;
    top: 520px;
    border-radius: 7px;
}
#img7{
    position: absolute;
    width: 19%;
    height: 25%;
    left: 250px;
    top: 850px;
    border-radius: 7px;
}
#img8{
    position: absolute;
    width: 19%;
    height: 25%;
    left: 700px;
    top: 850px;
    border-radius: 7px;
}
#img9{
    position: absolute;
    width: 19%;
    height: 25%;
    left: 1200px;
    top: 850px;
    border-radius: 7px;
}
.flo{
    position: absolute;
    left: 350px;
    top: 370px;
}
.nat{
    position: absolute;
    left: 780px;
    top: 370px;
}
.bar{
    position: absolute;
    left: 1320px;
    top: 370px;
}
.mic{
    position: absolute;
    left: 350px;
    top: 750px;
}
.fri{
    position: absolute;
    left: 780px;
    top: 740px;
}
.sin{
    position: absolute;
    left: 1320px;
    top: 740px;
}
.mo{
    position: absolute;
    left: 350px;
    top: 1050px;
}
.rai{
    position: absolute;
    left: 780px;
    top: 1050px;
}
.ani{
    position: absolute;
    left: 1320px;
    top: 1050px;
}


